@model BIG.Clean.Care.MODEL.LOGON
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/assets/vendor/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/assets/css/shop-item.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/admin/news">Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @*<li class="nav-item active">
                            <a class="nav-link" href="#">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="/home/index">ไปหน้าเว็บหลัก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">ออกจากระบบ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h4 class="my-3">ผู้ใช้งาน: <span id="user" style="color:blue">@Model.USERNAME</span></h4>
                <div class="list-group">
                    <a href="/admin/news" class="list-group-item">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        รายการข่าวสาร
                    </a>
                    <a href="/admin/addpage" class="list-group-item" style="background-color:lightgreen">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        เพิ่มข่าวสาร
                    </a>
                    <a href="/news/index" target="_blank" class="list-group-item" >
                        <i class="fa fa-home" aria-hidden="true"></i>
                        รายการข่าว (หน้าแรก)
                    </a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header" style="background-color:lightyellow">
                        แก้ไขข้อมูลข่าวสาร
                    </div>
                    <div class="card-body">
                        <form>

                            <div class="form-group">
                                <label for="exampleInputEmail1">หัวข้อหลัก</label>
                                <input type="text" class="form-control" id="SECTION_NAME">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">หัวข้อรอง</label>
                                <input type="text" class="form-control" id="HTML_SUB_HEADER1">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">เนื้อหา</label>
                                <textarea rows="5" type="text" class="form-control" id="HTML_VALUE"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">รูปภาพ</label>
                                <input type="file" class="form-control" id="IMAGE_URL1" accept="image/x-png,image/gif,image/jpeg">
                            </div>

                            @*<div class="form-group form-check">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" checked>แสดงข่าวสาร</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio">ไม่แสดง</label>
                                    </div>
                                </div>*@

                        </form>
                        <hr />
                        <button onclick="EditNews()" class="btn btn-success">บันทึก</button>
                        <hr />
                        @*<table id="table_id" class="display"></table>*@
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">

            </div>

        </div>
    </div>

    <!-- /.container -->
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="~/assets/vendor/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>

    <script>
        $(document).ready(function () {
            $.LoadingOverlay("show");
            debugger;
            var id = localStorage.getItem("key");
            $.ajax({
                type: "get",
                url: "/news/GetNews",           
                data: { id: id },
                contentType: 'application/json; charset=utf-8',
                success: function (result, status, xhr) {
                    if (result.STATUS) {
                        var obj = result.RESULT;
                        console.log(obj);
                        $('#SECTION_NAME').val(result.RESULT.SECTION_NAME)
                        $('#HTML_SUB_HEADER1').val(result.RESULT.HTML_SUB_HEADER1)
                        $('#HTML_VALUE').val(result.RESULT.HTML_VALUE)
                        $.LoadingOverlay("hide");
                    }
                    else {
                        console.log(result);
                        alert("เกิดข้อผิดพลาด")
                        $.LoadingOverlay("hide");
                    }
                }
            })

        });
        function EditNews() {

            let fileData = new FormData();
            let imgUrl = $('#IMAGE_URL1').prop('files');
            debugger;
            var sectionName = $('#SECTION_NAME').val()
            var subHeader = $('#HTML_SUB_HEADER1').val()
            var content = $('#HTML_VALUE').val()

            fileData.append("IMAGE_URL1", imgUrl[0]);
            fileData.append('SECTION_NAME', sectionName);
            fileData.append('HTML_SUB_HEADER1', subHeader);
            fileData.append('HTML_VALUE', content);
            fileData.append('ID', localStorage.getItem("key"));
            $.LoadingOverlay("show");
            $.ajax({
                type: "POST",
                url: "/news/Editnews",
                dataType: "json",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (result, status, xhr) {
                    if (result.STATUS) {
                        alert("บันทึกข้อมูลเรียบร้อย")
                        $.LoadingOverlay("hide");
                        window.location.href = "/admin/news";
                    }
                    else {
                        alert("เกิดข้อผิดพลาด")
                        $.LoadingOverlay("hide");
                    }
                }
            })
        }

    </script>
</body>

</html>
