@model BIG.Clean.Care.MODEL.LOGON
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>บริษัท บิ๊กคลีนแอนด์แคร์เซอร์วิส จำกัด</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/assets/vendor/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/assets/css/shop-item.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/admin/news">Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @*<li class="nav-item active">
                            <a class="nav-link" href="#">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="/home/index">ไปหน้าเว็บหลัก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">ออกจากระบบ</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h4 class="my-3">ผู้ใช้งาน: <span id="user" style="color:blue">@Model.USERNAME</span></h4>
                <div class="list-group">
                    <a href="/admin/news" class="list-group-item">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        รายการข่าวสาร
                    </a>
                    <a href="/admin/addpage" class="list-group-item" style="background-color:lightgreen">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        เพิ่มข่าวสาร
                    </a>
                    <a href="/news/index" target="_blank" class="list-group-item">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        รายการข่าว (หน้าแรก)
                    </a>

                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        รายละเอียดข่าวสาร
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="table_id" class="display"></table>
                        </div>
                      
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>



    <!-- /.container -->
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="~/assets/vendor/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>

    <script>

        function Delete(id) {
            var txt;
            var r = confirm("ต้องการลบข่าวนี้ใช่หรือไม่");
            if (r == true) {
                $.LoadingOverlay("show");
                $.ajax({
                    type: "get",
                    url: "/news/Delete",
                    data: { id: id },
                    contentType: 'application/json; charset=utf-8',
                    success: function (result, status, xhr) {
                        if (result.STATUS) {
                            location.reload();
                        }
                        else {
                            alert(result.ERROR_MESSAGE);
                        }
                    }
                })
            }
        }

        function Edit(id) {
            localStorage.setItem("key", id);
            window.location = "/admin/editpage";
        }



        $(document).ready(function () {
            $.LoadingOverlay("show");
            $.ajax({
                url: "/news/GetListNewTable",
                type: "get",
                success: function (response) {
                    var html = `<thead>
                                    <tr>
                                        <th>หัวข้อหลัก</th>
                                        <th>หัวข้อรอง</th>
                                        <th>เนื้อหา</th>
                                        <th>รูปภาพ</th>
                                        <th>แก้ไข</th>
                                        <th>ลบ</th>
                                    </tr>
                                </thead>
                                 <tbody>
                            `;
                    for (var i = 0; i < response.RESULT.length; i++) {
                        html += "<tr>";
                        //html += "<td>" + response.RESULT[i].ID + "</td>";
                        html += "<td>" + response.RESULT[i].Header + "</td>";
                        html += "<td>" + response.RESULT[i].SubHeader + "</td>";
                        html += "<td>" + response.RESULT[i].Value.substring(0, 10) + "...</td>";
                        html += "<td>" + response.RESULT[i].Picture + "</td>";
                        html += "<td><button class='btn btn-primary btn-block' onclick=Edit(" + response.RESULT[i].ID + ") >แก้ไข</button></td>";
                        html += "<td><button class='btn btn-danger btn-block' onclick=Delete(" + response.RESULT[i].ID + ") >ลบ</button></td>";
                        html += "</tr>";
                    }
                    html += "<tbody>";
                    debugger;
                    $("#table_id").html(html);

                    $('#table_id').DataTable({
                        responsive: true
                    });

                    $.LoadingOverlay("hide");

                },
                error: function (xhr) {
                    console.log(xhr)

                }
            });

        });



    </script>
</body>

</html>
