
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>บริษัท บิ๊กคลีนแอนด์แคร์เซอร์วิส จำกัด</title>
    <link rel="icon" href="favicon.png" type="image/png">

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        html {
            font-family: 'Sarabun', sans-serif;
        }
    </style>

    <header id="header_wrapper">
        <div class="container">
            <div class="header_box">
                <div class="logo">
                    <a href="#">
                        <img src="~/assets/images/BIG_LOGO.png" alt="logo" />
                    </a>
                </div>
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div id="main-nav" class="collapse navbar-collapse navStyle">
                        <ul class="nav navbar-nav" id="mainNav">
                            <li><a href="/home/index" class="scroll-link">หน้าหลัก</a></li>
                            <li><a href="/home/index/#aboutUs" class="scroll-link">เกี่ยวกับเรา</a></li>
                            <li><a href="/home/index/#service" class="scroll-link">บริการของเรา</a></li>
                            <li><a href="/home/index/#Portfolio" class="scroll-link">รายชื่อลูกค้า</a></li>
                            <!--<li><a href="#clients" class="scroll-link"></a></li>-->
                            <li><a href="/home/index/#team" class="scroll-link">ทีมงานบริหาร</a></li>
                            <li class="active"><a href="#news" class="scroll-link">ติดต่อเรา</a></li>
                            

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <section class="page_section team" id="news">
        <!--main-section team-start-->
        <div class="container">
            <h2>ข่าวสาร</h2>
            <h6> </h6>

            <div class="member-area" id="content">



            </div>


        </div>
    </section>

    <footer class="footer_wrapper" id="contact">
        <div class="container">
            <section class="page_section contact" id="contact">
                <div class="contact_section">
                    <h2> ติดต่อเรา</h2>
                    <div class="row">
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-12 wow fadeInLeft delay-06s animated" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="form">
                            <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
                            <form name="sentMessage" id="contactForm" novalidate="">
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="form-control input-text" placeholder="ชื่อ-นามสกุล" id="name" required="" data-validation-required-message="กรุณากรอก ชื่อ-นามสกุล">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="email" class="form-control input-text" placeholder="อีเมลล์" id="email" required="" data-validation-required-message="กรุณากรอก email">
                                        <div class="help-block" style="color:red"></div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="tel" class="form-control input-text" placeholder="เบอร์โทรศัพท์" id="tel" required="" data-validation-required-message="กรุณากรอกเบอร์โทรศัพท์">
                                        <div class="help-block" style="color:red"></div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <textarea rows="10" cols="100" class="form-control input-text" placeholder="ข้อความ" id="message" required="" data-validation-required-message="กรุณากรอก ข้อความ" minlength="5" data-validation-minlength-message="Min 5 characters" maxlength="999" style="resize:none"></textarea>
                                        <div class="help-block" style="color:red"></div>
                                    </div>
                                </div>
                                <div id="success"> </div> <!-- For success/fail messages -->
                                <button type="submit" class="btn btn-primary input-btn pull-right">Send</button><br>
                            </form>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div class="container">
            <div class="footer_bottom">
                <span>
                    Copyright © 2020,
                    <a href="#">บริษัท บิ๊กคลีนแอนด์แคร์เซอร์วิส จำกัด</a> 19/30 ม.9 ต.นาดี อ.เมือง จ.สมุทรสาคร 74000 088-220-4100 (คุณอ๊อฟ)
                    <a href="/admin/index/" style="color:darkslategrey">Login</a>
                </span>

            </div>
        </div>
    </footer>
    <script src="~/assets/js/jquery-1.11.0.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-scrolltofixed.js"></script>
    <script src="~/assets/js/jquery.nav.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/assets/js/jquery.isotope.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script>

        function createNews(img, header, subheader, content, creater) {
            var html = "<div class='col-xs-12' style='align-content:center'>";
            html += "<div class='member' style='padding-bottom:20px'>";
            html += "<div class='member-container'>";
            html += "<div class='inner-container'>";
            html += "<div class='author-avatar'>";
            html += "<img class='img-circle' src='/assets/images/news/" + img + "' alt='Team Menber' style=' max-height: 150px;' >";
            html += "</div>";
            html += "<div class='member-details'>";
            html += "<div class='member-top'>";
            html += "<h4 class='name'>";
            html += header;
            html += "</h4>";
            html += "<span class='designation'>";
            html += subheader;
            html += "</span>";
            html += "</div>";
            html += "<p>";
            html += content;
            html += "</p>";
            html += "<div class='member-social-link'>";
            html += "<span class='badge badge-primary'>" + creater + "</span>";
            html += "</div>";
            html += "</div>";
            html += "</div>";

            html += "</div>";
            html += "<hr>";
            html += "</div>";
            html += "</div>";


            return html;
        }

        $(document).ready(function () {
            debugger;
            $.ajax({
                url: "/news/GetListNew",
                type: "get", //send it through get method
                success: function (response) {

                    console.log(response)
                    if (response.STATUS) {
                        var html = "<div class='row'>";
                        var obj = response.RESULT;
                        if (obj.length > 0) {
                            for (var i = 0; i < obj.length; i++) {
                                debugger;
                                html += createNews(obj[i].IMAGE_URL2, obj[i].SECTION_NAME, obj[i].HTML_SUB_HEADER1, obj[i].HTML_VALUE, obj[i].CREATED_BY)
                            }

                            html += "</div>"

                            $("#content").html(html);
                        }
                    }

                },
                error: function (xhr) {
                    console.log(xhr)

                }
            });
        });

    </script>
</body>
</html>
