
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>บริษัท บิ๊กคลีนแอนด์แคร์เซอร์วิส จำกัด</title>
    <link rel="icon" href="favicon.png" type="image/png">

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        html {
            font-family: 'Sarabun', sans-serif;
        }
    </style>

    <header id="header_wrapper">
        <div class="container">
            <div class="header_box">
                <div class="logo">
                    <a href="#">
                        <img src="~/assets/images/BIG_LOGO.png" alt="logo" />
                    </a>
                </div>
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div id="main-nav" class="collapse navbar-collapse navStyle">
                        <ul class="nav navbar-nav" id="mainNav">
                            <li ><a href="/home/index" class="scroll-link">หน้าหลัก</a></li>
                            <li><a href="/home/index/#aboutUs" class="scroll-link">เกี่ยวกับเรา</a></li>
                            <li><a href="/home/index/#service" class="scroll-link">บริการของเรา</a></li>
                            <li><a href="/home/index/#Portfolio" class="scroll-link">รายชื่อลูกค้า</a></li>
                            <!--<li><a href="#clients" class="scroll-link"></a></li>-->
                            <li><a href="/home/index/#team" class="scroll-link">ทีมงานบริหาร</a></li>
                            <li class="active"><a href="#news" class="scroll-link">ติดต่อเรา</a></li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <section class="page_section team" id="news">
        <!--main-section team-start-->
        <div class="container">
            <h2>ข่าวสาร</h2>
            <h6> </h6>

            <div class="member-area">
                <div class="row">

                    <div class="col-xs-12" style="align-content:center">
                        <div class="member wow bounceInUp animated animated" style="visibility: visible; animation-name: bounceInUp;">
                            <div class="member-container" data-wow-delay=".5s">
                                <div class="inner-container">
                                    <div class="author-avatar">
                                        <img class="img-circle" src="~/assets/images/ceo_1.png" alt="Team Menber">
                                    </div><!-- /.author-avatar -->

                                    <div class="member-details">
                                        <div class="member-top">
                                            <h4 class="name">
                                                คุณประนอม   งามประเสริฐ
                                            </h4>
                                            <span class="designation">
                                                ประธานบริหาร
                                            </span>
                                        </div><!-- /.member-top -->

                                        <p>
                                            BIG CLEAN AND CARE SERVICE เป็นบริษัทรับทำความสะอาดจัดส่งแม่บ้าน  โดยบุคลากรที่ทางบริษัทฯได้คัดเลือกต้องผ่านการทดสอบว่ามีใจรักงานด้านบริการทำความสะอาดจริง มีสัญชาติไทยและต้องผ่านการตรวจสอบคดีอาญากับกรมตำรวจทุกคน เพื่อให้มั่นใจว่าแม่บ้านรายวันที่จัดส่งไปให้บริการแก่ลูกค้ามีความชำนาญและเซอร์วิสมายด์ที่ดี

                                        </p>
                                        <div class="member-social-link">

                                            <span class="badge badge-primary">08/01/2020 12:11pm</span>
                                        </div><!-- /.member-social-link -->
                                    </div><!-- /.member-details -->
                                </div><!-- /.inner-container -->
                            </div><!-- /.member-container -->
                        </div><!-- /.member -->
                    </div>

                    <div class="col-xs-12" style="align-content:center">
                        <div class="member wow bounceInUp animated animated" style="visibility: visible; animation-name: bounceInUp;">
                            <div class="member-container" data-wow-delay=".5s">
                                <div class="inner-container">
                                    <div class="author-avatar">
                                        <img class="img-circle" src="~/assets/images/ceo_1.png" alt="Team Menber">
                                    </div><!-- /.author-avatar -->

                                    <div class="member-details">
                                        <div class="member-top">
                                            <h4 class="name">
                                                คุณประนอม   งามประเสริฐ
                                            </h4>
                                            <span class="designation">
                                                ประธานบริหาร
                                            </span>
                                        </div><!-- /.member-top -->

                                        <p>
                                            BIG CLEAN AND CARE SERVICE เป็นบริษัทรับทำความสะอาดจัดส่งแม่บ้าน  โดยบุคลากรที่ทางบริษัทฯได้คัดเลือกต้องผ่านการทดสอบว่ามีใจรักงานด้านบริการทำความสะอาดจริง มีสัญชาติไทยและต้องผ่านการตรวจสอบคดีอาญากับกรมตำรวจทุกคน เพื่อให้มั่นใจว่าแม่บ้านรายวันที่จัดส่งไปให้บริการแก่ลูกค้ามีความชำนาญและเซอร์วิสมายด์ที่ดี

                                        </p>
                                        <div class="member-social-link">

                                            <span class="badge badge-primary">08/01/2020 12:11pm</span>
                                        </div><!-- /.member-social-link -->
                                    </div><!-- /.member-details -->
                                </div><!-- /.inner-container -->
                            </div><!-- /.member-container -->
                        </div><!-- /.member -->
                    </div>

                    <div class="col-xs-12" style="align-content:center">
                        <div class="member wow bounceInUp animated animated" style="visibility: visible; animation-name: bounceInUp;">
                            <div class="member-container" data-wow-delay=".5s">
                                <div class="inner-container">
                                    <div class="author-avatar">
                                        <img class="img-circle" src="~/assets/images/ceo_1.png" alt="Team Menber">
                                    </div><!-- /.author-avatar -->

                                    <div class="member-details">
                                        <div class="member-top">
                                            <h4 class="name">
                                                คุณประนอม   งามประเสริฐ
                                            </h4>
                                            <span class="designation">
                                                ประธานบริหาร
                                            </span>
                                        </div><!-- /.member-top -->

                                        <p>
                                            BIG CLEAN AND CARE SERVICE เป็นบริษัทรับทำความสะอาดจัดส่งแม่บ้าน  โดยบุคลากรที่ทางบริษัทฯได้คัดเลือกต้องผ่านการทดสอบว่ามีใจรักงานด้านบริการทำความสะอาดจริง มีสัญชาติไทยและต้องผ่านการตรวจสอบคดีอาญากับกรมตำรวจทุกคน เพื่อให้มั่นใจว่าแม่บ้านรายวันที่จัดส่งไปให้บริการแก่ลูกค้ามีความชำนาญและเซอร์วิสมายด์ที่ดี

                                        </p>
                                        <div class="member-social-link">

                                            <span class="badge badge-primary">08/01/2020 12:11pm</span>
                                        </div><!-- /.member-social-link -->
                                    </div><!-- /.member-details -->
                                </div><!-- /.inner-container -->
                            </div><!-- /.member-container -->
                        </div><!-- /.member -->
                    </div>

                </div><!-- /.row -->

                <div class="row">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>


        </div>
    </section>


    <script src="~/assets/js/jquery-1.11.0.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-scrolltofixed.js"></script>
    <script src="~/assets/js/jquery.nav.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/assets/js/jquery.isotope.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/custom.js"></script>
</body>
</html>
