
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>บริษัท บิ๊กคลีนแอนด์แคร์เซอร์วิส จำกัด</title>
    <link rel="icon" href="favicon.png" type="image/png">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        html{
        font-family: 'Sarabun', sans-serif;
        }
    </style>
    <header id="header_wrapper">
        <div class="container">
            <div class="header_box">
                <div class="logo">
                    <a href="#">
                        <img src="~/assets/images/BIG_LOGO.png" alt="logo" />
                    </a>
                </div>
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div id="main-nav" class="collapse navbar-collapse navStyle">
                        <ul class="nav navbar-nav" id="mainNav">
                            <li class="active"><a href="#hero_section" class="scroll-link">หน้าหลัก</a></li>
                            <li><a href="#aboutUs" class="scroll-link">เกี่ยวกับเรา</a></li>
                            <li><a href="#service" class="scroll-link">บริการของเรา</a></li>
                            <li><a href="#Portfolio" class="scroll-link">รายชื่อลูกค้า</a></li>
                            <!--<li><a href="#clients" class="scroll-link"></a></li>-->
                            <li><a href="#team" class="scroll-link">ทีมงานบริหาร</a></li>
                            <li><a href="#contact" class="scroll-link">ติดต่อเรา</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--Header_section-->
    <!--Hero_Section-->
    <section id="hero_section" class="top_cont_outer">
        <div class="hero_wrapper">
            <div class="container">
                <div class="hero_section">
                    <div class="row">
                        <div class="col-lg-5 col-sm-7">
                            <div class="top_left_cont zoomIn wow animated">
                                <h2>Big clean and care services <strong> </strong>  </h2>
                                <p>
                                    บริษัท บิ๊กคลีนแอนด์แคร์เซอร์วิส จำกัด เป็นองค์กรที่ให้บริการจัดส่งแม่บ้านประจำสำนักงาน ออฟฟิศ โรงงาน และสถานที่ต่างๆ แบบครบวงจร ซึ่งเรามีทีมงานมืออาชีพและมีคุณภาพ และมีความซื่อสัตย์ในการบริการ
                                </p>
                                <a href="#service" class="read_more2">อ่านเพิ่มเติม...</a>
                            </div>
                        </div>
                        <div>
                            <img src="~/assets/images/bg1.jpg" class="bannerImg zoomIn wow animated" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Hero_Section-->
    <!--Aboutus-->
    <section id="aboutUs">

        <div class="inner_wrapper">
            <div class="container">
                <h2>เกี่ยวกับเรา</h2>
                <div class="inner_section">
                    <div class="row">
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
                            <img src="~/assets/images/about.jpg" class="img-circle delay-03s animated wow zoomIn" alt="">
                        </div>
                        <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
                            <div class=" delay-01s animated fadeInDown wow animated">
                                <h3>Big clean and care services</h3><br />
                                <p>
                                    บริษัท บิ๊กคลีนแอนด์แคร์เซอร์วิส จำกัด เป็นองค์กรที่ให้บริการจัดส่งแม่บ้านประจำสำนักงาน ออฟฟิศ โรงงาน และสถานที่ต่างๆ แบบครบวงจร ซึ่งเรามีทีมงานมืออาชีพและมีคุณภาพ และมีความซื่อสัตย์ในการบริการ
                                </p>
                                <br />
                                <p>
                                    บริษัทของเรานั้นให้ความสำคัญ ในการบริการและความพอใจของลูกค้า และมีการดำเนินธุรกิจโดยยึดหลักคุณธรรมเป็นหลัก บริษัทของเราจะไม่เอาเปรียบลูกค้าและพนักงาน เราดูแลพนักงานเปรียบเสมือนครอบครัว ทำให้พนักงานมีกำลังใจในการทำงานและมีความพร้อมในการทำงานได้เต็มที่ เพื่อส่งผลให้เกิดประสิทธิภาพในการทำงานและความพึงพอใจของลูกค้าได้สูงสุด
                                </p>
                            </div>
                            <div class="work_bottom"> <span>อ่านเพิ่มเติม...</span> <a href="#contact" class="contact_btn">Contact Us</a> </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>
    <!--Aboutus-->
    <!--Service-->
    <section id="service">
        <div class="container">
            <h2>บริการของเรา</h2>
            <div class="service_wrapper">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="service_block">
                            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-female"></i></span> </div>
                            <h3 class="animated fadeInUp wow">บริการจัดส่งแม่บ้านแบบประจำและรายวัน</h3>
                            <p class="animated fadeInDown wow">จะมีการให้บริการแม่บ้านทำความสะอาดประจำและเครื่องมือแบบครบวงจร </p>
                        </div>
                    </div>
                    <div class="col-lg-3 borderLeft">
                        <div class="service_block">
                            <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-group"></i></span> </div>
                            <h3 class="animated fadeInUp wow">บริการทำความสะอาดครั้งใหญ่ Big Clean</h3>
                            <p class="animated fadeInDown wow">บริการล้างทำความสะอาดห้องน้ำ ตามโรงงาน สถานบริการ และอื่นๆ </p>
                        </div>
                    </div>
                    <div class="col-lg-3 borderLeft">
                        <div class="service_block">
                            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-home"></i></span> </div>
                            <h3 class="animated fadeInUp wow">บริการทำความสะอาด ขัดล้างพื้น ขัดเงาเพื้น</h3>
                            <p class="animated fadeInDown wow">บริการทำความสะอาดออฟฟิศ ห้องประชุม โรงพยาบาล สถานที่ราชการ งานเลี้ยงต่างๆ </p>
                        </div>
                    </div>
                    <div class="col-lg-3 borderLeft">
                        <div class="service_block">
                            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-sitemap"></i></span> </div>
                            <h3 class="animated fadeInUp wow">บริการเช็ดกระจกอาคารสูง</h3>
                            <p class="animated fadeInDown wow">บริการขัดพื้น ขัดเงา เคลือบแวกซ์ พื้น รวมถึงทำความสะอาดดูดฝุ่นตามโรงงาน สถานที่ราชการ โรงบาล และสถานที่อื่นๆ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Service-->
    <!-- Portfolio -->
    <section id="Portfolio" class="content">

        <!-- Container -->
        <div class="container portfolio_title">

            <!-- Title -->
            <div class="section-title">
                <h2>ลูกค้าของเรา</h2>
            </div>
            <!--/Title -->

        </div>
        <!-- Container -->

        <div class="portfolio-top"></div>

        <!-- Portfolio Filters -->
        <div class="portfolio">

            <div id="filters" class="sixteen columns">
                <ul class="clearfix">
                    <li>
                        <a id="all" href="#" data-filter="*" class="active">
                            <h5>ทั้งหมด</h5>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" data-filter=".prototype">
                            <h5>โรงงานอุตาหกรรม</h5>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" data-filter=".design">
                            <h5>ออฟฟิต/สำนักงาน</h5>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" data-filter=".android">
                            <h5>ห้องเช่า/อพาร์ทเม้นต์</h5>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" data-filter=".appleIOS">
                            <h5>โรงแรม</h5>
                        </a>
                    </li>
                    <li>
                        <a class="" href="#" data-filter=".web">
                            <h5>อื่นๆ</h5>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/Portfolio Filters -->
            <!-- Portfolio Wrapper -->
            <div class="isotope fadeInLeft animated wow animated" style="position: relative; overflow: hidden; visibility: visible; animation-name: fadeInLeft; height: 706px;" id="portfolio_wrapper">

                <!-- Portfolio Item -->
                <div style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); position: absolute; left: 0px; top: 0px; opacity: 1; width: 475px;" class="portfolio-item one-four   appleIOS isotope-item">
                    <div class="portfolio_img"> <img src="~/assets/images/portfolio_pic1.jpg" alt="Portfolio 1"> </div>
                    <div class="item_overlay">
                        <div class="item_info">
                            <h4 class="project_name">SMS Mobile App</h4>
                        </div>
                    </div>
                </div>
                <!--/Portfolio Item -->
                <!-- Portfolio Item-->
                <div style="transform: translate3d(475px, 0px, 0px) scale3d(1, 1, 1); position: absolute; left: 0px; top: 0px; opacity: 1; width: 475px;" class="portfolio-item one-four  design isotope-item">
                    <div class="portfolio_img"> <img src="~/assets/images/portfolio_pic2.jpg" alt="Portfolio 1"> </div>
                    <div class="item_overlay">
                        <div class="item_info">
                            <h4 class="project_name">Finance App</h4>
                        </div>
                    </div>
                </div>
                <!--/Portfolio Item -->
                <!-- Portfolio Item -->
                <div style="transform: translate3d(950px, 0px, 0px) scale3d(1, 1, 1); position: absolute; left: 0px; top: 0px; opacity: 1; width: 475px;" class="portfolio-item one-four  design  isotope-item">
                    <div class="portfolio_img"> <img src="~/assets/images/portfolio_pic3.jpg" alt="Portfolio 1"> </div>
                    <div class="item_overlay">
                        <div class="item_info">
                            <h4 class="project_name">GPS Concept</h4>
                        </div>
                    </div>
                </div>
                <!--/Portfolio Item-->
                <!-- Portfolio Item-->
                <div style="transform: translate3d(1425px, 0px, 0px) scale3d(1, 1, 1); position: absolute; left: 0px; top: 0px; opacity: 1; width: 475px;" class="portfolio-item one-four  android  prototype web isotope-item">
                    <div class="portfolio_img"> <img src="~/assets/images/portfolio_pic4.jpg" alt="Portfolio 1"> </div>
                    <div class="item_overlay">
                        <div class="item_info">
                            <h4 class="project_name">Shopping</h4>
                        </div>
                    </div>
                </div>
                <!-- Portfolio Item -->
                <!-- Portfolio Item -->
                <div style="transform: translate3d(0px, 353px, 0px) scale3d(1, 1, 1); position: absolute; left: 0px; top: 0px; opacity: 1; width: 475px;" class="portfolio-item one-four  design isotope-item">
                    <div class="portfolio_img"> <img src="~/assets/images/portfolio_pic5.jpg" alt="Portfolio 1"> </div>
                    <div class="item_overlay">
                        <div class="item_info">
                            <h4 class="project_name">Managment</h4>
                        </div>
                    </div>
                </div>
                <!--/Portfolio Item -->
                <!-- Portfolio Item -->
                <div style="transform: translate3d(475px, 353px, 0px) scale3d(1, 1, 1); position: absolute; left: 0px; top: 0px; opacity: 1; width: 475px;" class="portfolio-item one-four  web isotope-item">
                    <div class="portfolio_img"> <img src="~/assets/images/portfolio_pic6.jpg" alt="Portfolio 1"> </div>
                    <div class="item_overlay">
                        <div class="item_info">
                            <h4 class="project_name">iPhone</h4>
                        </div>
                    </div>
                </div>
                <!--/Portfolio Item -->
                <!-- Portfolio Item  -->
                <div style="transform: translate3d(950px, 353px, 0px) scale3d(1, 1, 1); position: absolute; left: 0px; top: 0px; opacity: 1; width: 475px;" class="portfolio-item one-four  design web isotope-item">
                    <div class="portfolio_img"> <img src="~/assets/images/portfolio_pic7.jpg" alt="Portfolio 1"> </div>
                    <div class="item_overlay">
                        <div class="item_info">
                            <h4 class="project_name">Nexus Phone</h4>
                        </div>
                    </div>
                </div>
                <!--/Portfolio Item -->
                <!-- Portfolio Item -->
                <div style="transform: translate3d(1425px, 353px, 0px) scale3d(1, 1, 1); position: absolute; left: 0px; top: 0px; opacity: 1; width: 475px;" class="portfolio-item one-four   android isotope-item">
                    <div class="portfolio_img"> <img src="~/assets/images/portfolio_pic8.jpg" alt="Portfolio 1"> </div>
                    <div class="item_overlay">
                        <div class="item_info">
                            <h4 class="project_name">Android</h4>
                        </div>
                    </div>

                </div>
                <!--/Portfolio Item -->

            </div>
            <!--/Portfolio Wrapper -->

        </div>
        <!--/Portfolio Filters -->

        <div class="portfolio_btm"></div>


        <div id="project_container">
            <div class="clear"></div>
            <div id="project_data"></div>
        </div>


    </section>
    <!--/Portfolio -->

   
   

    <section class="page_section team" id="team">
        <!--main-section team-start-->
        <div class="container">
            <h2>ทีมงานผู้บริหาร</h2>
            <h6> </h6>

            <div class="member-area">
                <div class="row">
                    <div class="col-xs-12" style="align-content:center">
                        <div class="member wow bounceInUp animated animated" style="visibility: visible; animation-name: bounceInUp;">
                            <div class="member-container" data-wow-delay=".5s">
                                <div class="inner-container">
                                    <div class="author-avatar">
                                        <img class="img-circle" src="~/assets/images/ceo_1.png" alt="Team Menber">
                                    </div><!-- /.author-avatar -->

                                    <div class="member-details">
                                        <div class="member-top">
                                            <h4 class="name">
                                                คุณประนอม   งามประเสริฐ
                                            </h4>
                                            <span class="designation">
                                                ประธานบริหาร
                                            </span>
                                        </div><!-- /.member-top -->

                                        <p>
                                            BIG CLEAN AND CARE SERVICE เป็นบริษัทรับทำความสะอาดจัดส่งแม่บ้าน  โดยบุคลากรที่ทางบริษัทฯได้คัดเลือกต้องผ่านการทดสอบว่ามีใจรักงานด้านบริการทำความสะอาดจริง มีสัญชาติไทยและต้องผ่านการตรวจสอบคดีอาญากับกรมตำรวจทุกคน เพื่อให้มั่นใจว่าแม่บ้านรายวันที่จัดส่งไปให้บริการแก่ลูกค้ามีความชำนาญและเซอร์วิสมายด์ที่ดี

                                        </p>
                                        <div class="member-social-link">
                                            <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                                            <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                                            <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                                        </div><!-- /.member-social-link -->
                                    </div><!-- /.member-details -->
                                </div><!-- /.inner-container -->
                            </div><!-- /.member-container -->
                        </div><!-- /.member -->
                    </div>



                    <div class="col-md-6">
                        <div class="member wow bounceInUp animated animated" style="visibility: visible; animation-name: bounceInUp;">
                            <div class="member-container" data-wow-delay=".5s">
                                <div class="inner-container">
                                    <div class="author-avatar">
                                        <img class="img-circle" src="~/assets/images/ceo_2.png" alt="Team Menber">
                                    </div><!-- /.author-avatar -->
                                    <div class="member-details">
                                        <div class="member-top">
                                            <h4 class="name">
                                                คุณณัฐนันท์   งามประเสริฐ
                                            </h4>
                                            <span class="designation">
                                                กรรมการบริษัท
                                            </span>
                                        </div><!-- /.member-top -->
                                        <p>
                                            หากคุณต้องการหาแม่บ้านดี  ๆ สักคนที่ไว้ใจได้ มาช่วยคุณผ่อนแรงในเรื่องานบ้านงานเรือน ขอให้คุณวางใจและเลือกใช้บริการจากเรา แล้วคุณจะประทับใจในบริการและพนักงานของเรา
                                        </p>
                                        <div class="member-social-link">
                                            <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                                            <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                                            <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                                        </div><!-- /.member-social-link -->
                                    </div><!-- /.member-details -->
                                </div><!-- /.inner-container -->
                            </div><!-- /.member-container -->
                        </div><!-- /.member -->
                    </div>

                    <div class="col-md-6">
                        <div class="member wow bounceInUp animated animated" style="visibility: visible; animation-name: bounceInUp;">
                            <div class="member-container" data-wow-delay=".5s">
                                <div class="inner-container">
                                    <div class="author-avatar">
                                        <img class="img-circle" src="~/assets/images/ceo_3.png" alt="Team Menber">
                                    </div><!-- /.author-avatar -->
                                    <div class="member-details">
                                        <div class="member-top">
                                            <h4 class="name">
                                                ณัฐนนท์   งามประเสริฐ
                                            </h4>
                                            <span class="designation">
                                                กรรมการบริษัท
                                            </span>
                                        </div><!-- /.member-top -->
                                        <p>
                                            เราพัฒนาบริการทุกด้านอย่างต่อเนื่อง เพื่อให้ท่านมั่นใจได้ว่า จะได้รับบริการที่ดีที่สุดจากเรา
                                        </p>
                                        <div class="member-social-link">
                                            <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                                            <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>

                                            <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                                        </div><!-- /.member-social-link -->
                                    </div><!-- /.member-details -->
                                </div><!-- /.inner-container -->
                            </div><!-- /.member-container -->
                        </div><!-- /.member -->
                    </div>
                </div><!-- /.row -->
            </div>


        </div>
    </section>

    <!--/Team-->
    <!--Footer-->
    <footer class="footer_wrapper" id="contact">
        <div class="container">
            <section class="page_section contact" id="contact">
                <div class="contact_section">
                    <h2> ติดต่อเรา</h2>
                    <div class="row">
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-12 wow fadeInLeft delay-06s animated" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="form">
                            <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
                            <form name="sentMessage" id="contactForm" novalidate="">
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="form-control input-text" placeholder="ชื่อ-นามสกุล" id="name" required="" data-validation-required-message="กรุณากรอก ชื่อ-นามสกุล">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="email" class="form-control input-text" placeholder="อีเมลล์" id="email" required="" data-validation-required-message="กรุณากรอก email">
                                        <div class="help-block" style="color:red"></div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="tel" class="form-control input-text" placeholder="เบอร์โทรศัพท์" id="tel" required="" data-validation-required-message="กรุณากรอกเบอร์โทรศัพท์">
                                        <div class="help-block" style="color:red"></div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <textarea rows="10" cols="100" class="form-control input-text" placeholder="ข้อความ" id="message" required="" data-validation-required-message="กรุณากรอก ข้อความ" minlength="5" data-validation-minlength-message="Min 5 characters" maxlength="999" style="resize:none"></textarea>
                                        <div class="help-block" style="color:red"></div>
                                    </div>
                                </div>
                                <div id="success"> </div> <!-- For success/fail messages -->
                                <button type="submit" class="btn btn-primary input-btn pull-right">Send</button><br>
                            </form>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div class="container">
            <div class="footer_bottom"><span>Copyright © 2020,     <a href="#">บริษัท บิ๊กคลีนแอนด์แคร์เซอร์วิส จำกัด</a> 19/30 ม.9 ต.นาดี อ.เมือง จ.สมุทรสาคร 74000 088-220-4100 (คุณอ๊อฟ)</span> </div>
        </div>
    </footer>


    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-scrolltofixed.js"></script>
    <script src="~/js/jquery.nav.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.isotope.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>
